body {
    margin: 0px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.profile-container {
    width: 1512px;
    height: 982px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    width: 801px;
    height: 257px;
    left: 80px;
    top: 221px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 87px;
    line-height: 90px;
    color: #000000;
    margin-top: 50px;
}

.icon {
    width: 70px;
    height: 70px;
}

.my-pic {
    width: 490px;
    height: 576.18px;
}

.my-img {
    width: 490px;
    height: 576.18px;
    border: 5px solid black;
    border-bottom-left-radius: 45%;
    box-shadow: 14px -15px 0px -6px rgba(0, 0, 0, 1);
}

.description {
    margin-top: 40px;
    width: 762px;
    height: 187px;
    left: 80px;
    top: 518px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 45px;
    color: #6B6868;
}

.hire-here {
    display: flex;
    font-size: 32px;
    margin-top: 40px;
}

.hire-me {
    width: 225px;
    height: 84px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-projects {
    width: 378px;
    height: 84px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: white;
    background-color: black;
}

.skill-container {
    width: 1529px;
    height: 816px;
    background-color: #08B7AC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-title {
    padding-top: 70px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 51.3611px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
}

.skill-description {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 23.1125px;
    line-height: 35px;
    text-align: center;
    margin-top: 51px;
    color: #FFFFFF;
}

.skill-description-bottom {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 23.1125px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.skills {
    width: 1529px;
    height: 816px;
    background-color: #08B7AC;
}

.program-icon {
    height: 130px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

}

.icon-html {
    width: 79.34px;
    height: 82.93px;
}

.dolor {
    display: flex;
}

.html-container {
    width: 117.02px;
    height: 109.8px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25% black);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #4F89FD;
    border-radius: 5px;
}

.program {
    width: 120px;
    height: 118.94px;
    display: flex;
    flex-direction: column;
}

.name-program {
    width: 120px;
    height: 30.43px;
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 22.4281px;
    /* or 132% */

    display: flex;
    align-items: flex-end;
    text-align: center;
}